/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #140c1a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 36px 0 9px;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  text-indent: 0;
}
p {
  text-indent: 18px;
}
.t0 {
  background: #ffc2c2;
}
.t0 a,
.t0 a:visited {
  color: #d60000;
}
.t0 a:hover {
  color: #8a0000;
}
.t0 header {
  border-right: 1px solid #d60000;
}
.t0 .svg-inner {
  stroke: #ffc2c2;
}
.t1 {
  background: #ffd1c2;
}
.t1 a,
.t1 a:visited {
  color: #d63600;
}
.t1 a:hover {
  color: #8a2200;
}
.t1 header {
  border-right: 1px solid #d63600;
}
.t1 .svg-inner {
  stroke: #ffd1c2;
}
.t2 {
  background: #ffe0c2;
}
.t2 a,
.t2 a:visited {
  color: #d66b00;
}
.t2 a:hover {
  color: #8a4500;
}
.t2 header {
  border-right: 1px solid #d66b00;
}
.t2 .svg-inner {
  stroke: #ffe0c2;
}
.t3 {
  background: #fff0c2;
}
.t3 a,
.t3 a:visited {
  color: #d6a100;
}
.t3 a:hover {
  color: #8a6700;
}
.t3 header {
  border-right: 1px solid #d6a100;
}
.t3 .svg-inner {
  stroke: #fff0c2;
}
.t4 {
  background: #ffffc2;
}
.t4 a,
.t4 a:visited {
  color: #d6d600;
}
.t4 a:hover {
  color: #8a8a00;
}
.t4 header {
  border-right: 1px solid #d6d600;
}
.t4 .svg-inner {
  stroke: #ffffc2;
}
.t5 {
  background: #f0ffc2;
}
.t5 a,
.t5 a:visited {
  color: #a1d600;
}
.t5 a:hover {
  color: #678a00;
}
.t5 header {
  border-right: 1px solid #a1d600;
}
.t5 .svg-inner {
  stroke: #f0ffc2;
}
.t6 {
  background: #e0ffc2;
}
.t6 a,
.t6 a:visited {
  color: #6bd600;
}
.t6 a:hover {
  color: #458a00;
}
.t6 header {
  border-right: 1px solid #6bd600;
}
.t6 .svg-inner {
  stroke: #e0ffc2;
}
.t7 {
  background: #d1ffc2;
}
.t7 a,
.t7 a:visited {
  color: #36d600;
}
.t7 a:hover {
  color: #228a00;
}
.t7 header {
  border-right: 1px solid #36d600;
}
.t7 .svg-inner {
  stroke: #d1ffc2;
}
.t8 {
  background: #c2ffc2;
}
.t8 a,
.t8 a:visited {
  color: #00d600;
}
.t8 a:hover {
  color: #008a00;
}
.t8 header {
  border-right: 1px solid #00d600;
}
.t8 .svg-inner {
  stroke: #c2ffc2;
}
.t9 {
  background: #c2ffd1;
}
.t9 a,
.t9 a:visited {
  color: #00d636;
}
.t9 a:hover {
  color: #008a22;
}
.t9 header {
  border-right: 1px solid #00d636;
}
.t9 .svg-inner {
  stroke: #c2ffd1;
}
.t10 {
  background: #c2ffe0;
}
.t10 a,
.t10 a:visited {
  color: #00d66b;
}
.t10 a:hover {
  color: #008a45;
}
.t10 header {
  border-right: 1px solid #00d66b;
}
.t10 .svg-inner {
  stroke: #c2ffe0;
}
.t11 {
  background: #c2fff0;
}
.t11 a,
.t11 a:visited {
  color: #00d6a1;
}
.t11 a:hover {
  color: #008a67;
}
.t11 header {
  border-right: 1px solid #00d6a1;
}
.t11 .svg-inner {
  stroke: #c2fff0;
}
.t12 {
  background: #c2ffff;
}
.t12 a,
.t12 a:visited {
  color: #00d6d6;
}
.t12 a:hover {
  color: #008a8a;
}
.t12 header {
  border-right: 1px solid #00d6d6;
}
.t12 .svg-inner {
  stroke: #c2ffff;
}
.t13 {
  background: #c2f0ff;
}
.t13 a,
.t13 a:visited {
  color: #00a1d6;
}
.t13 a:hover {
  color: #00678a;
}
.t13 header {
  border-right: 1px solid #00a1d6;
}
.t13 .svg-inner {
  stroke: #c2f0ff;
}
.t14 {
  background: #c2e0ff;
}
.t14 a,
.t14 a:visited {
  color: #006bd6;
}
.t14 a:hover {
  color: #00458a;
}
.t14 header {
  border-right: 1px solid #006bd6;
}
.t14 .svg-inner {
  stroke: #c2e0ff;
}
.t15 {
  background: #c2d1ff;
}
.t15 a,
.t15 a:visited {
  color: #0036d6;
}
.t15 a:hover {
  color: #00228a;
}
.t15 header {
  border-right: 1px solid #0036d6;
}
.t15 .svg-inner {
  stroke: #c2d1ff;
}
.t16 {
  background: #c2c2ff;
}
.t16 a,
.t16 a:visited {
  color: #0000d6;
}
.t16 a:hover {
  color: #00008a;
}
.t16 header {
  border-right: 1px solid #0000d6;
}
.t16 .svg-inner {
  stroke: #c2c2ff;
}
.t17 {
  background: #d1c2ff;
}
.t17 a,
.t17 a:visited {
  color: #3600d6;
}
.t17 a:hover {
  color: #22008a;
}
.t17 header {
  border-right: 1px solid #3600d6;
}
.t17 .svg-inner {
  stroke: #d1c2ff;
}
.t18 {
  background: #e0c2ff;
}
.t18 a,
.t18 a:visited {
  color: #6b00d6;
}
.t18 a:hover {
  color: #45008a;
}
.t18 header {
  border-right: 1px solid #6b00d6;
}
.t18 .svg-inner {
  stroke: #e0c2ff;
}
.t19 {
  background: #f0c2ff;
}
.t19 a,
.t19 a:visited {
  color: #a100d6;
}
.t19 a:hover {
  color: #67008a;
}
.t19 header {
  border-right: 1px solid #a100d6;
}
.t19 .svg-inner {
  stroke: #f0c2ff;
}
.t20 {
  background: #ffc2ff;
}
.t20 a,
.t20 a:visited {
  color: #d600d6;
}
.t20 a:hover {
  color: #8a008a;
}
.t20 header {
  border-right: 1px solid #d600d6;
}
.t20 .svg-inner {
  stroke: #ffc2ff;
}
.t21 {
  background: #ffc2f0;
}
.t21 a,
.t21 a:visited {
  color: #d600a1;
}
.t21 a:hover {
  color: #8a0067;
}
.t21 header {
  border-right: 1px solid #d600a1;
}
.t21 .svg-inner {
  stroke: #ffc2f0;
}
.t22 {
  background: #ffc2e0;
}
.t22 a,
.t22 a:visited {
  color: #d6006b;
}
.t22 a:hover {
  color: #8a0045;
}
.t22 header {
  border-right: 1px solid #d6006b;
}
.t22 .svg-inner {
  stroke: #ffc2e0;
}
.t23 {
  background: #ffc2d1;
}
.t23 a,
.t23 a:visited {
  color: #d60036;
}
.t23 a:hover {
  color: #8a0022;
}
.t23 header {
  border-right: 1px solid #d60036;
}
.t23 .svg-inner {
  stroke: #ffc2d1;
}
.trans {
  -webkit-transition: background 5s ease-out;
  -moz-transition: background 5s ease-out;
  -ms-transition: background 5s ease-out;
  -o-transition: background 5s ease-out;
  transition: background 5s ease-out;
}
header {
  position: fixed;
  top: 36px;
  left: 36px;
  bottom: 36px;
  width: 36px;
  padding-right: 36px;
}
[role=main] {
  width: 576px;
  margin: 0 0 0 108px;
  padding: 36px 72px;
}
time {
  font-size: 10px;
  color: #999;
  line-height: 18px;
}
.butt {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 0 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.butt span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.butt:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 #999999;
  -moz-box-shadow: 0 0 10px 0 #999999;
  box-shadow: 0 0 10px 0 #999999;
}
.butt:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 0 2px 0 #999999;
  -moz-box-shadow: 0 0 2px 0 #999999;
  box-shadow: 0 0 2px 0 #999999;
}
@media print {
  * {
    background: black !important;
    color: black !important;
  }
}
