---
layout: default
title: djs
---
  {% for post in paginator.posts %}
    <article>
      <time>{{ post.date | date_to_string }}</time>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.content }}
    </article>
  {% endfor %}
  <div clas="pagintion">
    {% if paginator.previous_page %}<a href="{% if paginator.previous_page == 1 %}/blog{% else %}/page{{ paginator.previous_page }}/blog.html{% endif %}">Previous</a>{% endif %} 
    {% if paginator.next_page %}<a href="/page{{ paginator.next_page }}/blog.html">Next</a>{% endif %}
  </div>
  <aside></aside>

