---
layout: none
---
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Curriculum Vitae</title>
    <style>
{% include cv/css/cv.css %}
    </style>
</head>
<body>

    <header class="brand" role="banner">
        <div class="brand-inner">

            <a class="logo" href="http://dan.shearmur.co.uk">djs</a>
            <h1 class="title">Curriculum Vitae</h1>

        </div>
    </header>

    <section id="main" class="wrapper" role="main">

        <article id="personal">
            {% capture personal %}
                {% include cv/personal.md %}
            {% endcapture %}
            {{ personal | unindent | markdownify }}
        </article>

        <article id="experience">
            {% capture experience %}
                {% include cv/experience.md %}
            {% endcapture %}
            {{ experience | unindent | markdownify }}
        </article>

        <article id="education">
            {% capture education %}
                {% include cv/education.md %}
            {% endcapture %}
            {{ education | unindent | markdownify }}
        </article>

        <article id="skills">
            {% capture skills %}
                {% include cv/skills.md %}
            {% endcapture %}
            {{ skills | unindent | markdownify }}
        </article>

    </section>

</body>
</html>
