* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #140c1a;
}

a,
a:visited {
  color: #aaa;
}

a:hover {
  color: pink;
}

h1,
h2,
h3 {
  line-height: 36px;
  margin: 36px 0 9px;
  color: #aaa;
}

p {
  text-indent: 18px;
}

h1 + p,
h2 + p,
h3 + p {
  text-indent: 0;
}

main {
  margin: 36px;
}

header {
  margin: 36px 36px 0 36px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #aaa;
}

time {
  font-size: 10px;
  line-height: 18px;
  color: #999;
}

.butt {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 5px;
  background: #aaa;
  margin-right: 18px;
  line-height: 18px;
}

.butt:hover {
  background: pink;
  box-shadow: 0 0 6px 0 #aaa;
}

.butt:first-child {
  background: black;
  padding: 8px 6px;
}

svg {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
}

code {
  padding: 1px;
  border-radius: 2px;
  background: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .05);
}

@media only screen and (min-width: 540px) {
  header {
    position: fixed;
    flex-direction: column;
    top: 36px;
    left: 36px;
    bottom: 36px;
    width: 72px;
    margin: 0;
    border-bottom: 0;
    border-right: 1px solid #aaa;
  }

  .butt {
    margin-bottom: 18px;
  }

  main {
    margin: 0 0 0 108px;
  }

  article {
    padding: 36px;
  }
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 1200px;
  }

  .butt {
    margin-bottom: 36px;
  }

  article {
    max-width: 80%;
    padding: 36px 72px;
  }
}
