/*
# BASE
*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 72px 0 0;
    color: #000;
    font: 20px/36px Georgia, serif;
}

a,
a:visited {
    color: hsl(219, 62%, 50%);
    text-decoration: none;
}

h1,
h2 {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    color: hsl(275, 28%, 50%);
    margin: 18px 0;
}

h2 {
    font-size: 28px;
    line-height: 36px;
}

p {
    margin: 0 0 18px;
}

ul {
    padding: 0;
    list-style: square;
}

ul ul {
    padding-left: 18px;
}

li > p {
    margin: 0;
}


/*
# LAYOUT
*/

.brand-inner,
.wrapper,
.end {
    position: relative;
    width: 576px;
    margin: 0 auto;
}

.wrapper {
    min-height: 612px;
}

.item {
    padding: 18px 18px 0;
    margin-bottom: 18px;
}

/*
# MODULE
*/

/* header */
.brand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: hsl(275, 28%, 50%);
    height: 72px;
}

.brand:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 72px;
    background: hsl(275, 28%, 65%);
}

.brand-inner {
    background: hsl(275, 28%, 50%);
}

.logo {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 18px;
    left: -54px;
    border-radius: 5px;
    background: no-repeat url(../img/logo.svg) #000 center center;
    text-indent: -10000px;
}

.no-svg .logo {
    background-image: url(../img/logo.png);
}

.title {
    margin: 0;
    padding: 0 18px;
    line-height: 2;
    font-weight: 700;
    color: #fff;
}

