#delicious.panel
  h2 delicious
  each item in data
    .row.del
      a.row-link( href=item.u, target="_blank" )= item.d
      p.del-notes= item.n
      ul.del-tags
        each tag in item.t
          if tag != ""
            li
              a( href="http://delicious.com/danshearmur/#{tag}", target="_blank" )= tag
      - var date = moment(item.dt)
      time.del-time( datetime=date.format('YYYY-MM-DDTHH:MM:SSZ') )= date.fromNow()
