<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }} - djs</title>
    <meta name=viewport content="initial-scale=1, maximum-scale=1">
    <link rel=alternate href=/atom.xml type=application/atom+xml title="dan.shearmur.co.uk ATOM Feed">
    <style>
{% include css/dan.css %}
    </style>
  </head>
  <body>
{% include svg/all.svg %}
    <header>
      <a href=/ class=butt>
        <svg viewBox="0 0 24 21">
          <use xlink:href="#logo-djs" />
        </svg>
      </a>
      <a href=https://pinboard.in/u:d_j_s class=butt target=_blank>
        <svg >
          <use xlink:href="#logo-pinboard" />
        </svg>
      </a>
      <a href=https://twitter.com/danshearmur class=butt target=_blank>
        <svg viewBox="0 0 26 16">
          <use xlink:href="#logo-twitter" />
        </svg>
      </a>
      <a href=https://github.com/danshearmur class=butt target=_blank>
        <svg viewBox="0 0 24 24">
          <use xlink:href="#logo-github" />
        </svg>
      </a>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
