<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }} - djs</title>
    <meta name=viewport content="initial-scale=1, maximum-scale=1">
    <meta nane=author content="dan shearmur dan@shearmur.co.uk">
    <link rel=alternate href=/atom.xml type=application/atom+xml title="dan.shearmur.co.uk ATOM Feed">
    <link rel=stylesheet href=/css/dan.less.min.css>
    <link rel=stylesheet href=//fonts.googleapis.com/css?family=Droid+Sans:700>
    <script>var i=0,e='header article time aside'.split(' ');for(;i<e.length;i++){document.createElement(e[i]);}</script>
  </head>
  <body>
    <header>
      <a href=/ id=djs class=butt>
        <span>djs</span>
      </a>
      <a href=https://delicious.com id=delicious class=butt target=_blank>
        <span>Delicious</span>
      </a>
      <a href=https://twitter.com/danshearmur id=twitter class=butt target=_blank>
        <span>Twiiter</span>
      </a>
      <a href=https://github.com/danshearmur id=github class=butt target=_blank>
        <span>GitHub</span>
      </a>
    </header>
    <div id=wrapper>
      {{ content }}
    </div>
    <script src=/js/base.js></script>
  </body>
</html>
