/*
# BASE
*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 72px 0 0;
    background: #3c3c3c;
    color: #ccc;
    font: 24px/36px 'Strait', sans-serif;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

h1,
h2 {
    font-family: sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    line-height: 2;
}

h2 {
    font-size: 28px;
    line-height: 36px;
}

p {
    margin: 36px 0;
}


/*
# LAYOUT
*/

.brand-inner,
.wrapper,
.end {
    position: relative;
    width: 954px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    padding: 72px 0;
    min-height: 612px;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.item {
    float: left;
    width: 396px;
    height: 252px;
    margin: 36px 0 36px 54px;
}

/*
# MODULE
*/

/* header */
.brand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #FBC104;
    color: #3c3c3c;
    height: 72px;
}

.brand:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 72px;
    background: #FDDA68;
}

.brand-inner {
    background: #FBC104;
}

.logo {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 18px;
    left: -54px;
    border-radius: 5px;
    background: no-repeat url(../img/logo.svg) #000 center center;
    text-indent: -10000px;
}

.no-svg .logo {
    background-image: url(../img/logo.png);
}

.title {
    margin: 0;
    padding: 0 18px;
}

/* buttons */
.iframe-toggle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.csstransforms .iframe-toggle {
    display: block;
}

.iframe-toggle-butt {
    float: left;
    height: 72px;
    width: 72px;
    margin-left: 18px;
    border: 0;
    background: #FDDA68;
    color: #3c3c3c;
    cursor: pointer;
}

.iframe-toggle .iframe-toggle-butt {
    font-size: 36px;
}

/* footer */
.end {
    border-top: 5px solid #ccc;
    font: 14px/18px sans-serif;
}

.more-info {
    float: right;
}

.site,
.site:visited {
    color: #FBC104;
}

/* browser */
.browser {
    position: relative;
    width: 396px;
    height: 252px;
    border: 5px solid #fff;
    border-radius: 10px;
    background: #3c3c3c;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.browser:before,
.browser:after {
    content: "";
    position: absolute;
    top: 10px;
    border: 10px solid transparent;
}

.browser:before {
    left: 15px;
    border-left: 0;
    border-right-color: #ffffff;
}

.browser:after {
    left: 30px;
    border-right: 0;
    border-left-color: #ffffff;
}

.browser-search {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    left: 50px;
    height: 30px;
    padding: 0 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 28px; /* magic number! */
    text-decoration: none;
}

.browser-dom {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #ffffff;
}

.browser-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1200px;
    height: 622px;
    border: 0;
    background: #fff;
    -webkit-transform: scale(.32166666666);
    -moz-transform: scale(.32166666666);
    -ms-transform: scale(.32166666666);
    -o-transform: scale(.32166666666);
    transform: scale(.32166666666);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.browser-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat url(img/spinner2.svg) #3c3c3c center center;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.browser-screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 386px;
    height: 202px;
}

.no-svg .browser-spinner {
    background-image: url(img/spinner.gif);
}


/*
# STATE
*/

.logo:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
}

.iframe-toggle-butt-on {
    color: #000;
}

.browser:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.browser-iframe {
    display: none;
}

.browser-iframe {
    display: block;
}

.browser-show .browser-spinner { 
    opacity: 0;
}

.no-csstransforms .browser-show .browser-spinner {
    display: none;
}

.on #true {
    color: #fff;
}

.off #false {
    color: #fff;
}

/* lightbox */
.lb-reset,
.lb-content,
.lb-close {
    display: none;
}

:target .lb-reset {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 35, 35, .9);
    z-index: 10000;
}

:target .lb-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 900px;
    margin: 144px auto;
    z-index: 10000;
}

:target .lb-content,
:target .lb-close {
    display: block;
}

:target .browser {
    float: left;
    width: 432px;
    height: 275px;
}

:target .browser-iframe {
    -webkit-transform: scale(.36);
    -moz-transform: scale(.36);
    -ms-transform: scale(.36);
    -o-transform: scale(.36);
    transform: scale(.36);
}

:target .browser:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.lb-content {
    float: left;
    width: 432px;
    margin-left: 36px;
}

/*
# RESPONSIVE
*/
/* TODO */
@media only screen and (max-width: 792px) {

    .title,
    .logo {
        position: static;
        float: left;
    }

    .logo {
        margin: 18px;
    }

    .brand:before {
        display: none;
    }

}









